<header class='container mx-auto px2 py3 mt1 mb2'>
  <a href='{{ site.baseurl }}/' class='h2 bold black mono js-name'>{{ site.title }}</a>
  <nav class='mt-tiny h5'>
     <a class='mr2 black' href='{{ site.baseurl }}/projects/'>Projects</a>
    <a class='mr2 black' href='{{ site.baseurl }}/talks/'>Talks</a>
    <a class='mr2 black' href='{{ site.baseurl }}/competitions/'>Competitions</a>
    <a class='mr2 black' href='https://freckle-bathtub-a46.notion.site/9a9343f22d5f4e44b53e29cd85ca7e73?v=bf51924e7b484c138247e6038e8b6e59'>Notes</a>
    <!-- <a class='mr2 black' href='{{ site.baseurl }}/assets/Naman Doshi, Data Scientist.pdf'>Resume</a> -->
    </nav>
</header>
