<header class='container mx-auto px2 py3 mt1 mb2'>
  <a href='{{ site.baseurl }}/' class='h2 bold black mono js-name'>{{ site.title }}</a>
  <nav class='mt-tiny h5'>
     <a class='mr2 black' href='{{ site.baseurl }}/projects/'>Projects</a>
    <a class='mr2 black' href='{{ site.baseurl }}/talks/'>Talks</a>
    <a class='mr2 black' href='{{ site.baseurl }}/competitions/'>Competitions</a>
    <!-- <a class='mr2 black' href='{{ site.baseurl }}/Data Scientist, Naman Doshi.pdf'>Resume</a> -->
    </nav>
</header>
